@model IList<FitnessLogger.Models.LogRow>

@{
    ViewBag.Title = "Home Page";
}

@if (Model != null)
{
    <h5>Exercise Log</h5>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><h2>Date</h2></th>
                <th class="hidden-xs"><h2>Exercise</h2></th>
                <th class="hidden-xs"><h2>Notes</h2></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var logrow in Model.Take(30))
            {
                <tr>
                    <td>
                        <h6>@logrow.Date.ToString("dd-MM-yy")</h6>
                    </td>
                    <td>
                        <h6>@logrow.Exercise</h6>
                    </td>
                    <td>
                        <h6>@logrow.Notes</h6>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}